@model UniversityMVCWebApp.Models.UniversityViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create</h1>

<h4>UniversityViewModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            
            <div class="form-group">
                <label asp-for="universityName" class="control-label"></label>
                <input asp-for="universityName" class="form-control" />
                <span asp-validation-for="universityName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="location" class="control-label"></label>
                <input asp-for="location" class="form-control" />
                <span asp-validation-for="location" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="affiliatedUnder" class="control-label"></label>
                <input asp-for="affiliatedUnder" class="form-control" />
                <span asp-validation-for="affiliatedUnder" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="establishedYear" class="control-label"></label>
                <input asp-for="establishedYear" class="form-control" />
                <span asp-validation-for="establishedYear" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" asp-action="AddUniversity" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

